<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Saúde em Dia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    {% if session.cpf_logado %}
    <nav class="navbar">
        <div class="container">
            {% if session.cpf_logado %}
                <span class="navbar-brand">USF Tito Silva</span>
                <ul class="navbar-nav">
                    <li><a href="{{ url_for('home') }}">Início</a></li>
                    
                    <li><a href="{{ url_for('orientacoes') }}">Orientações</a></li>
                    
                    <li><a href="{{ url_for('cronograma') }}">Cronograma</a></li>
                    <li><a href="{{ url_for('cartao_vacinal') }}">Cartão Vacinal</a></li>
                    <li><a href="{{ url_for('lembretes') }}">Lembretes</a></li>
                    <li><a href="{{ url_for('contatos_externos') }}">Contatos</a></li>
                    <li><a href="{{ url_for('contato') }}">Fale Conosco</a></li>
                    <li><a href="{{ url_for('logout') }}" class="logout-btn">Sair</a></li>
                </ul>
            {% else %}
                <a href="/" class="navbar-brand">Saúde+</a>
                <ul class="navbar-nav">
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('cadastro') }}" class="btn btn-primary">Cadastrar</a></li>
                </ul>
            {% endif %}
        </div>
    </nav>
    {% endif %}

    <main class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        {% block content %}{% endblock %}
        </main>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>